body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(5, 35px);
    grid-gap: 2px;
    margin-bottom: 20px;
}

.grid div {
    width: 30px;
    height: 30px;
    border: 2px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.keyboard {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.keyboard div {
    margin-top: 8px;
}

.key {
    font-size: 8px;
    font-weight: bold;
    width: 8x;
    height: 8px;
    padding: 5px 10px;
    margin: 2px;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #f7f7f7;
    user-select: none;
    cursor: pointer;
}

.letter-wrong {
    background-color: #868686;
}

.letter-correct {
    background-color: #5edf13;
}

.letter-semi-correct {
    background-color: #f0ec0b;
}