<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="index.js" defer></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="vue-app">
        <button @click="sumValue($event, 1)">Add</button>
        <button @click="sumValue($event, -1)">Sub</button>
        <div>{{ counter }}</div>

        <button v-on:click="changeInput">Click me</button>
        <button v-on:click="changeClass">Change class</button>
        <!-- <div>{{mystring}}</div>
        <a v-bind:href="myLink">Doc to {{ linkString }}</a>
        <div v-show="myBool">asd</div>
        <div v-for="item in myArray">{{ item.a }}</div> -->
        <!-- <input type="text" :value="textInput" @input="writeString"> -->
        <input type="text" v-model="textInput">
    </div>
</body>
</html>